<ion-content [fullscreen]="true" class="slides-content" [scrollY]="false">

  <swiper-container #swiper init="false" class="full-swiper">
    <swiper-slide *ngFor="let slide of slides; let i = index">
      <div class="slide-page">

        <!-- Green illustration area with curved bottom -->
        <div class="illustration-area">
          <div class="pattern-overlay"></div>
          <div class="illustration-wrapper">
            <div class="illust-icon" [ngSwitch]="i">
              <ng-container *ngSwitchCase="0">
                <ion-icon name="cash-outline" class="icon-main orange"></ion-icon>
                <ion-icon name="hand-left-outline" class="icon-secondary green"></ion-icon>
              </ng-container>
              <ng-container *ngSwitchCase="1">
                <ion-icon name="people-outline" class="icon-main green"></ion-icon>
                <ion-icon name="checkmark-done-outline" class="icon-secondary orange"></ion-icon>
              </ng-container>
              <ng-container *ngSwitchCase="2">
                <ion-icon name="clipboard-outline" class="icon-main green"></ion-icon>
                <ion-icon name="checkmark-outline" class="icon-secondary orange"></ion-icon>
              </ng-container>
              <ng-container *ngSwitchCase="3">
                <ion-icon name="time-outline" class="icon-main orange"></ion-icon>
                <ion-icon name="refresh-outline" class="icon-secondary green"></ion-icon>
              </ng-container>
            </div>
          </div>
          <div class="curved-bottom"></div>
        </div>

        <!-- Text -->
        <div class="text-area">
          <p>{{ slide.title }}</p>
        </div>

        <!-- Pagination dashes -->
        <div class="pagination">
          <span *ngFor="let s of slides; let j = index"
            class="dash" [class.active]="j === activeIndex"></span>
        </div>

        <!-- Skip -->
        <div class="skip-btn" (click)="skip()">
          <span>Skyp</span>
          <span class="chevrons">&nbsp;>></span>
        </div>

      </div>
    </swiper-slide>
  </swiper-container>

</ion-content>
