<ion-content [fullscreen]="true" class="slides-content" [scrollY]="false">

  <swiper-container #swiper init="false" class="full-swiper">
    <swiper-slide *ngFor="let slide of slides; let i = index">
      <div class="slide-page">

        <!-- Top area: circle pattern with illustration -->
        <div class="illustration-area">
          <div class="circle-bg">
            <img src="assets/patterns/circle-pattern.png" alt="" />
          </div>
          <div class="illustration">
            <img [src]="slide.icon" alt="" />
          </div>
        </div>

        <!-- Text -->
        <div class="text-area">
          <p>{{ slide.title }}</p>
        </div>

        <!-- Pagination dashes -->
        <div class="pagination">
          <span *ngFor="let s of slides; let j = index"
            class="dash" [class.active]="j === activeIndex"></span>
        </div>

        <!-- Skip -->
        <div class="skip-btn" (click)="skip()">
          <span>Skyp</span>
          <span class="chevrons">&nbsp;>></span>
        </div>

      </div>
    </swiper-slide>
  </swiper-container>

</ion-content>
